[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/pats4all
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pats4all
	label-Verified = -1..+1 group user/pats4all
	push = group user/pats4all
	read = group user/pats4all
	rebase = group user/pats4all
	removeReviewer = group user/pats4all
	submit = group user/pats4all
[access "refs/heads/*"]
	create = group user/pats4all
	push = +force group user/pats4all
	pushMerge = group user/pats4all
	read = group user/pats4all
[access "refs/tags/*"]
	push = group user/pats4all
	push = +force group user/pats4all
